/*General CSS Styles*/
body, html{
	height: 100%;
	font-family: 'Chakra Petch';
}

nav.navbar{
	background-color: #C30000;
}

footer{
	background-color: #C30000;
}

a.nav-link{
	color:#ADADAD;
}

a.nav-link.active{
	color: #FFE761 !important;
}

div.bgblur{
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	width: 100% !important;
	height: 100vh !important;
	padding: 5rem;
}

h1.title{
	font-size: 6rem !important;
	color: white;
	text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
}

h1.title2{
	font-size: 3rem !important;
	color: white;
	text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
}

h1.title3{
	font-size: 6rem !important;
	color: #C30000;
	text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
}

.btn-outline-warning{
	backdrop-filter: blur(25px);
	background-color: #ffe761a8;
	color: #000000;
	border-color: #ffe761a8;
	text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.btn-outline-warning:hover{
	background-color: #FFE761;
	border-color: #FFE761;
}

.btn-warning{
	background-color: #FFE761;
	border-color: #FFE761;
}

.sub-title{
	color: #C30000;
}

section.section-100{
	min-height: 100%;
	min-width: 100%;
}

section.section-50{
	min-height: 50%;
	min-width: 100%;
}

.bglightgrey{
	background-color: #F5F5F5;
}

.cust-img-75{
	max-width: 75%;
}

.cust-img-50{
	max-width: 50%;
	height: auto;
}

.p-6{
	padding: 4rem;
}

.p-7{
	padding: 5rem;
}

/*======================================*/

/*Specific CSS Styles*/
div.hero#homeHeader{
	background: url("./images/HomeBG.jpg");
	position:relative;
	background-position: center;
	background-size: cover;
	min-height: 100%;
}

div.hero#aboutHeader{
	background: url("./images/AboutBG.jpg");
	position:relative;
	background-position: center;
	background-size: cover;
	min-height: 100%;
}

div.hero#stemHeader{
	background: url("./images/StemBG.jpg");
	position:relative;
	background-position: center;
	background-size: cover;
	min-height: 100%;
}

div.hero#humssHeader{
	background: url("./images/HumssBG.jpg");
	position:relative;
	background-position: center;
	background-size: cover;
	min-height: 100%;
}

div.hero#abmHeader{
	background: url("./images/AbmBG.jpg");
	position:relative;
	background-position: center;
	background-size: cover;
	min-height: 100%;
}

div.hero#gasHeader{
	background: url("./images/GasBG.jpg");
	position:relative;
	background-position: center;
	background-size: cover;
	min-height: 100%;
}

div.hero#tvlictHeader{
	background: url("./images/TvlictBG.jpg");
	position:relative;
	background-position: center;
	background-size: cover;
	min-height: 100%;
}

div.hero#tvlheHeader{
	background: url("./images/TvlheBG.jpg");
	position:relative;
	background-position: center;
	background-size: cover;
	min-height: 100%;
}

div#testHeader{
	background: url("./images/TestBG.jpg");
	position:relative;
	background-position: center;
	background-size: cover;
	min-height: 100%;
	padding: 0px !important;
}

section#homeEnd{
	background: url("./images/LNHSbg2.png");
	position:relative;
	background-position: center;
	background-size: cover;
}

#homeEnd h1{
	font-size: 2.8rem !important;
	color: #C30000;
	text-shadow: 3px 3px 3px #FFF;
}

header.index{
	background: url("./images/LNHSbg2.png");
	position:relative;
	background-position: center;
	background-size: cover;
	min-height: 100%;
}
/*======================================*/

/*text-shadow: 0px 0px 8px white;*/
/*backdrop-filter: blur(16px);*/